@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
*, *:before, *:after {
  box-sizing: border-box;
  backface-visibility: hidden; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  font-size: 16px; }

@keyframes rotate {
  0% {
    filter: opacity(0%);
    transform: scale(0) rotate(-30deg); }
  50% {
    filter: opacity(60%);
    transform: scale(1.4) rotate(30deg); }
  100% {
    filter: opacity(100%);
    transform: scale(1) rotate(360deg); } }

@keyframes shake {
  0% {
    transform: scale(1) skew(1deg) translate(-0.9px, 0); }
  15% {
    transform: scale(1) skew(-1deg) translate(0, 0.9px); }
  30% {
    transform: scale(1) skew(0deg) translate(-0.9px, 0.9px); }
  45% {
    transform: scale(1) skew(1deg) translate(0.9px, 0); }
  60% {
    transform: scale(1) skew(-1deg) translate(-0.9px, -0.9px); }
  75% {
    transform: scale(1) skew(0deg) translate(0px, -0.9px); }
  90% {
    transform: scale(1) skew(1deg) translate(-0.9px, -0.9px); } }

@keyframes flipInX {
  0% {
    opacity: 0;
    transform: rotateX(-80deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }

.intro--wrapper {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(300px, 1000px) minmax(10px, 1fr);
  position: relative;
  overflow: hidden;
  height: 90vh;
  background: linear-gradient(to bottom, transparent 70%, #111111), url("../assets/graph-paper.svg");
  background-size: cover, 200px; }
  .intro--wrapper > video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; }

.intro--container {
  grid-column: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2; }

.intro--name {
  position: relative;
  align-self: flex-start;
  font-size: calc(2rem + 2vw);
  color: white;
  margin: 0 0 1.2em 0;
  padding: 0 0 15px 0; }
  .intro--name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8px;
    width: calc(100px + 1vw);
    display: block;
    background-color: white;
    transition: all 300ms ease; }
  .intro--name:hover:after {
    content: "";
    display: block;
    width: 100%; }

.intro--desc {
  font-size: calc(1rem + 1vw);
  color: white;
  margin: 0;
  line-height: 1.4em;
  margin-bottom: 1.5em; }

.social {
  display: inline-flex;
  justify-content: flex-start; }
  .social > a {
    text-decoration: none;
    font-size: calc(1rem + .5vw);
    font-weight: 700;
    color: #097cf3;
    margin-right: 20px; }

.project--wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(200px, 1200px) minmax(0, 1fr);
  background-color: #111111; }
  .project--wrapper > div {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-top: -50px;
    margin-bottom: 60px;
    padding: 20px 15px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    background-color: white;
    background: url("../assets/bg_01.svg"), linear-gradient(to bottom, white 10%, whitesmoke);
    background-size: 200px, cover;
    z-index: 100; }

.header {
  font-size: calc(1.5rem + .3vw); }

.cardProject {
  grid-area: project;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  margin-bottom: 20px; }

.project > a {
  text-decoration: none;
  color: black; }
  .project > a > img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all 200ms ease; }
  .project > a > .project--title {
    display: inline-block;
    position: relative;
    margin: 10px 10px 5px 0;
    font-size: 1.1rem;
    font-weight: 700; }
    .project > a > .project--title:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 2px;
      width: 0;
      background-color: rgba(0, 0, 0, 0.4);
      transition: width 300ms ease; }
  .project > a > .project--tech {
    display: inline-block;
    color: rgba(0, 0, 0, 0.4);
    transition: all 300ms ease; }
  .project > a > p {
    margin: 0; }
  .project > a:hover > img {
    filter: grayscale(0); }
  .project > a:hover > .project--title:after {
    content: "";
    display: block;
    width: 100%; }
  .project > a:hover > .project--tech {
    color: rgba(255, 0, 0, 0.8); }

.otherProjects {
  grid-area: other;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto; }

.other {
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 0px 1px whitesmoke;
  transition: all 200ms ease; }
  .other:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.01); }
  .other > span {
    font-size: 1.1rem;
    font-weight: 700; }
  .other:visited > span {
    color: red; }

.author {
  font-size: .7rem;
  position: absolute;
  bottom: 2px;
  right: 2px; }

.player--wrapper {
  width: 100vw;
  height: 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #FDFDFD;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(200px, 1000px) minmax(0px, 1fr);
  z-index: 999; }
  @media (display-mode: standalone) {
    .player--wrapper {
      display: none; } }

.player--inner_wrapper {
  height: 48px;
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.player--song {
  width: 422px;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2b2b2b; }
  .player--song .player--artwork {
    width: 48px;
    height: 48px; }
  .player--song > .player--main {
    flex: 1;
    margin-left: 8px;
    overflow: hidden; }
    .player--song > .player--main .player--music {
      color: #fff; }
    .player--song > .player--main .player--artist {
      color: #fff; }
    .player--song > .player--main .player--music, .player--song > .player--main .player--artist {
      display: block;
      text-decoration: none;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: .8rem; }

.player--buttons {
  display: flex;
  justify-content: center;
  align-items: center; }
  .player--buttons > button {
    width: 48px;
    height: 48px;
    border: none;
    background: none;
    outline: none;
    padding: 15px;
    cursor: pointer; }
    .player--buttons > button:hover {
      background-color: #888; }
    .player--buttons > button > img {
      width: 100%;
      height: 100%; }

.player--slider {
  margin-left: 30px;
  flex: 1; }
  .player--slider .player--slider_bar {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    outline: none; }
  .player--slider .player--slider_fill {
    height: 100%;
    background-color: #7ec57c; }

.player--time {
  margin: 0 30px; }
  .player--time .player--time_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    color: #777; }
  .player--time .player--time_separator {
    margin: 0 10px; }

@media screen and (min-width: 600px) {
  .player--song {
    background-color: #FDFDFD; }
    .player--song .player--main .player--music {
      color: #222; }
    .player--song .player--main .player--artist {
      color: #3381b7; } }
