@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto Mono", monospace, sans-serif;
	font-variant-ligatures: no-common-ligatures;
	font-size: 16px;
}

@import "keyframes.scss";
@import "intro.scss";
@import "project.scss";
@import "player.scss";
