@keyframes rotate {
  0% {
    filter: opacity(0%);
    transform: scale(0) rotate(-30deg); }
  50% {
    filter: opacity(60%);
    transform: scale(1.4) rotate(30deg); }
  100% {
    filter: opacity(100%);
    transform: scale(1) rotate(360deg); } }

@keyframes shake {
  0% {
    transform: scale(1) skew(1deg) translate(-0.9px, 0); }
  15% {
    transform: scale(1) skew(-1deg) translate(0, 0.9px); }
  30% {
    transform: scale(1) skew(0deg) translate(-0.9px, 0.9px); }
  45% {
    transform: scale(1) skew(1deg) translate(0.9px, 0); }
  60% {
    transform: scale(1) skew(-1deg) translate(-0.9px, -0.9px); }
  75% {
    transform: scale(1) skew(0deg) translate(0px, -0.9px); }
  90% {
    transform: scale(1) skew(1deg) translate(-0.9px, -0.9px); } }

@keyframes flipInX {
  0% {
    opacity: 0;
    transform: rotateX(-80deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }
