.project--wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(200px, 1200px) minmax(0, 1fr);
  background-color: #111111; }
  .project--wrapper > div {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-top: -50px;
    margin-bottom: 60px;
    padding: 20px 15px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    background-color: white;
    background: url("../assets/bg_01.svg"), linear-gradient(to bottom, white 70%, whitesmoke);
    background-size: 200px, cover;
    z-index: 100; }

.header {
  font-size: calc(1.5rem + .3vw); }

.cardProject {
  grid-area: project;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  margin-bottom: 20px; }

.project > a {
  text-decoration: none;
  color: black; }
  .project > a > img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all 200ms ease; }
  .project > a > span {
    display: inline-block;
    position: relative;
    margin: 10px 0 5px 0;
    font-size: 1.1rem;
    font-weight: 700; }
    .project > a > span:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 2px;
      width: 0;
      background-color: rgba(0, 0, 0, 0.4);
      transition: width 300ms ease; }
  .project > a > p {
    margin: 0; }
  .project > a:hover > img {
    filter: grayscale(0); }
  .project > a:hover > span:after {
    content: "";
    display: block;
    width: 100%; }

.otherProjects {
  grid-area: other;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto; }

.other {
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 0px 1px whitesmoke;
  transition: all 200ms ease; }
  .other:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.01); }
  .other > span {
    font-size: 1.1rem;
    font-weight: 700; }
  .other:visited > span {
    color: red; }

.author {
  font-size: .7rem;
  position: absolute;
  bottom: 2px;
  right: 2px; }
